/* reset */
/* 
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
/* 
*/
/* root */
/* 
*/
:root {
    /* //colors */
    --mainColor100: #1e2d3b;
    --mainColor300: #2e3a46;
    --grey: #808080;
    /* //Header */
    --padHeaderTB: .7rem;
    --padHeaderRL: 1.2rem;
    --heightLogo: 2.75rem;
    --heightHeader: calc(var(--padHeaderTB) * 2 + var(--heightLogo));
    /* //padding */
    --gap-sm: .5rem;
    --gap: .8rem;
    --gapX2: calc(var(--gap) * 2);
}
/* 
*/
/* font */
/* 
*/
body, button, a, input {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 1.0625rem;
    line-height: 1.1rem;
}
/* 
*/
/* common */
/* 
*/

ul {
    list-style: none;
}

a {
    display: inline-block;
}
/* 
*/
/* header */
/* 
*/
header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: var(--padHeaderTB) var(--padHeaderRL);        
    background-color: var(--mainColor300);
    color: #fff;
}

.header__logo {
    height: var(--heightLogo);
}

.header__logo img {
    height: 100%;
}
/* 
*/
/* main */
/* 
*/
main { 
    background-color: var(--mainColor100);
    min-height: 100vh;
    padding: var(--heightHeader) 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gap) var(--gapX2);
    flex-grow: 1;
    max-width: 62.5rem;
    height: 100%;
}

.album {
    display: grid;
    grid-template-rows: auto;
    color: var(--grey);
    background-color: var(--mainColor300);
    padding: var(--gap);
    text-align: center;
}
.album__img {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.album__img  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    left: 0;
    width: 100%;
}

.album__img::after {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
}

.album__title {
    color: #fff;
    text-transform: uppercase;
    margin: var(--gap) 0;
}

.album__info p {
    font-size: 1rem;
    line-height: .4rem;
    color: var(--grey);
}

@media screen and (max-width: 768px) {
    main {
        align-items: flex-start;
        padding: calc(var(--heightHeader) + var(--gap)) var(--gap);
    }

    .collection {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-sm) var(--gap);
    }
}

@media screen and (max-width: 425px) {
    .collection {
        grid-template-columns: repeat(2, 1fr);
    }
}